<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>comp_name</param-name>
        <param-value>Celia</param-value>
    </context-param>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LecturerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudentsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RemoveStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.FindStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudentMarkServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditStudentMarkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindEditStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.FindEditStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewByOutcomeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewByOutcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindServlet</servlet-name>
        <servlet-class>za.ac.tut.web.FindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudentStatusServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditStudentStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerServlet</servlet-name>
        <url-pattern>/LecturerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet.do</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>za.ac.tut.model.bl.marksRangeException</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/userforbidden.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>ViewStudentsServlet</servlet-name>
        <url-pattern>/ViewStudentsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveStudentServlet</servlet-name>
        <url-pattern>/RemoveStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindStudentServlet</servlet-name>
        <url-pattern>/FindStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudentMarkServlet</servlet-name>
        <url-pattern>/EditStudentMarkServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindEditStudentServlet</servlet-name>
        <url-pattern>/FindEditStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewByOutcomeServlet</servlet-name>
        <url-pattern>/ViewByOutcomeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindServlet</servlet-name>
        <url-pattern>/FindServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudentStatusServlet</servlet-name>
        <url-pattern>/EditStudentStatusServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>CoordinatorConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>CoordinatorResources</web-resource-name>
            <description>Resources accessible to coordinator</description>
            <url-pattern>/coordinator.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Enable authentication of coordinator</description>
            <role-name>coordinator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>LecturerConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>LecturerResources</web-resource-name>
            <description>Resources accessible by lecturer</description>
            <url-pattern>/LecturerServlet.do</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Enable authentication of lecturer</description>
            <role-name>lecturer</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>FRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/loginerror.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Lecturer can add, remove, update and view student info</description>
        <role-name>lecturer</role-name>
    </security-role>
    <security-role>
        <description>coordinator can update will status</description>
        <role-name>coordinator</role-name>
    </security-role>
</web-app>
